/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c2b;
  padding: 10px;
  margin-bottom: 10px;
}
.heading {
  color: #cbd5e1;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 300;
}
